body {
    background: #F7F7F7;
}
<!--热帖模块css-->
.miui_bm img {
    border: 0px;
    border-radius: 5px;
    margin: 10px 0px 0px;
}

.u_article li {
    margin-bottom: 7px;
    height: 20px;
    overflow: hidden;
    ertical-align:middle;
}
.u_article li a {
     font-family: 'Microsoft YaHei';
    color: #909090;
    font: 12px/1.5 Microsoft YaHei,Tahoma,Helvetica,'SimSun',sans-serif;

 }

.miui_bm {
    margin-bottom: 10px;
}
.b_bw {
    width: 218px;
    background: white;
}
.b_pad {
    padding: 15px 15px 19px;
}
.b_line {
    border: 1px solid #e6e6e6;
}
.b_rad {
    border-radius: 5px;
}
div {
    display: block;
}
.cl {
    zoom: 1;
}
Style Attribute {
    zoom: 1;
}
body, input, button, select, textarea {
    font: 12px/1.5 Microsoft YaHei,Tahoma,Helvetica,'SimSun',sans-serif;
    color: #444;
}
* {
    word-wrap: break-word;
}


.blogs { padding: 30px 0; position: relative; border-bottom: #CCC 1px solid; overflow: hidden }
.blogs h3 { font-size: 16px; font-weight: bold; transition: all .5s; margin-bottom: 10px }
.blogs h3 a { color: #474645; }
.blogs h3 a:hover { color: #066; text-decoration: underline }
.blogs figure { float: left; width: 17%; overflow: hidden; }
.blogs figure img { width: 100%; margin: auto; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.blogs figure:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.blogs ul { float: right; line-height: 22px; width: 72%; color: #756F71;}